<!DOCTYPE html>
<html>
<head data-th-replace="includes/header"></head>
<body class="conso-body">

	<div data-th-replace="|includes/${user == null ? 'navigation' : 'my-navigation'}::nav|"></div>
	<div data-th-replace="includes/scripts"></div> 
	<div id="container" class="container"></div>	
<!-- 	<script type="text/jsx" src="../public/js/index.jsx.js" data-th-src="@{/js/index.jsx.js}"></script> -->

<!-- 	<script type="text/javascript">
		$(".nav li").removeClass("active");
		$('#about').addClass("active");
	</script> -->
	<script type="text/javascript" src="./../about-bundle.js"></script>

</body>
<div data-th-replace="includes/footer"></div>
</html>