*.class

*~
.~*#

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
.mvn/
target/
*.log

# Eclipse
.settings/
.project
.classpath
bin/
.cache-main

#Netbeans
.history

# Spring
.springBeans

# Node
node_modules/

# npm
*.log*

oz-energy/config/application.yml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Spark-Scala
project/project/
project/target/
target/

