@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);

/* Header */
 .navbar {
    margin-bottom: 30px;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 3px;
}


.navbar-inverse .navbar-brand {
    color: #4e9a06;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #4e9a06;
  background-color: transparent;
}

/* General */
body {
	background: #f2f2f2;
	font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    padding-top: 70px;
	
}

.body-content {
    padding-bottom: 0px;
}

 table {
    border-collapse: collapse; 
/*      width: 100%;  */
	margin: auto;
}

/* Panel's header */
.yourdata {
	width: 100%;
}

.yourdata table {
	width: 100%;
	border-spacing: collapse;

}

.yourdata td:nth-child(1) {
	width: 50%;
}

.yourdata th, .yourdata td {
	padding: 0;
	padding-left: 0px;
	padding-right: 0px;
    text-align: left;
}
.yourdata td + td, .yourdata th + th {
	text-align: right;
}

@media screen and (max-width: 500px) {

    .yourdata table, .yourdata tr, .yourdata td {
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    
    .yourdata td:nth-child(1) {
	width: 100%;
}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
	position: absolute;
    right: 40px;
}

.invisible {
	display: none;
}

/* DataTable */
/*  .data  {
 	display: block;
	height: 100px;
	overflow: auto;
}  */

/* .data thead {
  width: 100%;
}
.data tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.data thead, .data tbody, .data tr, .data td, .data th {
  display: block;
}
.data tbody td, .data thead > tr> th {
  float: left;
}
 */
 

.data table {
	overflow-x: auto;
/* 	width: 200px;
	height: 300px; */
}

 .data {
    width: 350px; 
} 

.data > thead,
.data > tbody,
.data > thead > tr,
.data > tbody > tr,
.data > thead > tr > th,
.data > tbody > tr > td {
    display: block;
}

.data > tbody > tr:after,
.data > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.data > thead {
	width: 100%;
	background-color: #3c763d;
}
.data > tbody {
    overflow-y: auto;
    height: 250px;
    width: 100%;
}

.data > tbody > tr > td,
.data > thead > tr > th {
    width: 50%;
    float: left;
   	text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.data tr:nth-child(even) {background-color: #f2f2f2}

.data th {
    background-color: #3c763d;
    color: white;
}




/* Redefine panels and panel-success from Bootstrap */
.panel{
	background-color: #ffffff;
	border-radius: 4px;
}

.panel-body {
  padding: 15px;
  text-align: center;
}

.panel-body .text {
	text-align: left;
}

.panel-body .data {
	text-align: center;
}

.panel-heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
} 

.panel-success {
/*   border-color: #449d44; */
  border-color: #4e9a06;
} 
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #4e9a06;
  border-color: #4e9a06;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4e9a06;
}
.panel-success > .panel-heading .badge {
  color: #4e9a06;
  background-color: #4e9a06;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4e9a06;
}
/* Style for arrow buttons */

.btn-default{
	margin-left: 5px;
	margin-right: 5px;
}


/* Style Bootstraps'Dropdown List success */
.btn-success {
  color: #fff;
  background-color: #4a9306;
  border-color: #4a9306;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #4a9306;
  border-color: #4a9306;
} 

.btn-success:hover {
  color: #fff;
  background-color: #3e7a05;
  border-color: #3e7a05;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #3e7a05;
  border-color: #3e7a05;
} 

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #3e7a05;
  border-color: #3e7a05;
} 

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #3e7a05;
  border-color: #3e7a05;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #3e7a05;
  border-color: #3e7a05;
}
.btn-success .badge {
  color: #3e7a05;
  background-color: #fff;
}

/* LineChart */ 

.line {
    fill: none;
    stroke: #000000;
    stroke-width: 3px;

}

.axis{
    fill:#2e3436;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 12px;
}

.y-grid .tick{
    stroke: #f2f2f2;
    opacity: 1;
}

.default-svg{
	
}