<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			 data-target="#myNavbar">
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>                        
	 	 </button>
	 	 <a class="navbar-brand" href="/">Oz'Energy</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li id="home" class="active" role="presentation"><a href="/">Home</a></li>
				<li id="my" role="presentation"><a href="/my/conso">My Consumption</a></li>
				<li id="global" role="presentation"><a href="/my/global">Overview</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="logout" role="presentation"><a href="/logout">Sign out</a></li>
				<li id="about" role="presentation"><a href="/about">About</a></li>
			</ul>
		</div>
		
	</div>
</nav>