
<script data-th-src="@{/webjars/jquery/2.2.4/jquery.min.js}" type="text/javascript" ></script>
<!--  <script data-th-src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" type="text/javascript"></script> -->
<script data-th-src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" type=""></script>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>

<!-- 
<script data-th-src="@{/webjars/react/15.1.0/react.js}"></script>
<script data-th-src="@{/webjars/babel/6.3.26-1/lib/api/browser.js}"></script>

<script type="text/javascript" data-th-src="@{/js/App.js}" src="../../public/js/App.js"></script>
 -->
 <script type="text/javascript" data-th-src="@{./../manifest-bundle.js}"></script>
<script type="text/javascript" data-th-src="@{./../commons-bundle.js}"></script>